/*GLOBAL STYLES*/
/*resetting margin and padding for cross-browser compatibility*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font styles*/
.nunito-sans-font {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

/*body styles*/
body{
  font-family: "Nunito Sans", serif;
  background-color: #F7F5EF;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
}
/*header styles*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
/*promo bar section styles*/
.promo-bar{
  background-color: #7A6145;
  display: flex;
  justify-content: center;
  color: #F7F5EF;
  padding: 10px;
}
/*navbar section styles*/
.navbar{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F7F5EF;
}
.nav-container{
  border-bottom: 2px solid rgba(122, 97, 69, 0.2);
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
}
.menu-btn{
  display: none;
}
.nav-container .logo{
  display: flex;
  max-height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
}
.nav-container .logo img{
  display: block;
  height: 100%;
  max-height: 80px;
  width: auto;
}
.search-container{
  display: flex;
  justify-content: center;
  position: relative;
  height: 70%;
  width: 100%;
  padding: 0 20px;
}
#search-bar{
  background-color: #F7F5EF;
  width: 100%;
  padding: 10px 15px 10px 45px;
  border-radius: 40px;
  border: 1px solid #7A6145;
  outline: none;
  font-size: 18px;
  transition: all 0.3s ease; /*smooth transition for focus*/
  cursor: text;
}
#search-icon{
  position: absolute;
  left: 34px;
  top: 50%;
  transform: translateY(-50%);
  height: 40%;
  width: auto;
}
.nav-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 100%;
  width: 60%;
  color: #7A6145;
  font-size: 18px;
  font-weight: 700;
}
.sell-button{
  background-color: #7A6145;
  color: #F7F5EF;
  font-weight: 500;
  border: none;
  padding: 12px 20px;
  transition: all 0.3s ease-in-out;
}
.sell-button:hover {
  background-color: #F7F5EF; /* Swap background */
  color: #7A6145; /* Swap text color */
  border: 2px solid #7A6145; /* Add subtle border */
}
.auth-button{
  text-decoration: none;
  color: inherit;
}
.nav-buttons .cart-icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.nav-buttons .cart-icon img{
  width: 60%;
  height: auto;
  object-fit: contain;
}
.nav-buttons .cart-icon:hover{
  transform: scale(1.1);
}
.cart-badge{
  color: #F7F5EF;
  background-color: #7A6145;
  font-size: 12px;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  display: none; /* Hidden by default */
}
.nav-categories{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
  height: 60px;
}
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  gap: 80px;
}
.nav-links .link, li{
  position: relative;
}
.nav-links .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #7A6145;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links .link:hover::after {
  transform: scaleX(1);
}
.nav-links li a{
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-links li a img{
  width: 12px;
  height: auto;
  display: inline-block;
}
/*dropdown styles*/
.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #F7F5EF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  min-width: 200px;
}
.dropdown-menu li a{
  display: block;
  text-align: left;
  color: #000000;
  padding: 14px 15px;
  text-decoration: none;
  transition: all ease 0.3s;
}
.dropdown-menu li a:hover{
  color: #7A6145;
  background-color: rgba(95, 74, 52, 0.1);
}
.dropdown:hover .dropdown-menu{
  display: block;
  z-index: 99;
}
/*footer section styles*/
.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #7A6145;
  color: #F7F5EF;
  padding: 60px 80px;
  
}
.footer-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}
.footer-logo {
  max-width: 60%;
  height: auto;
  margin-bottom: 20px;
}
.footer-logo img{
  width: 100%;
  height: auto;
}
.footer-left p{
  font-size: 20px;
  font-weight: 500;
  width: 70%;
}
.social-icons{
  display: flex;
  gap: 30px;
}
.social-icons a img{
  width: 30px;
  height: auto;
}
.copyright p{
  font-size: 16px;
  font-weight: 200;
}
.footer-right{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  width: 60%;
}
.footer-content h4{
  font-size: 22px;
  margin-bottom: 20px;
}
.footer-content ul{
  list-style: none;
}
.footer-content li{
  margin-bottom: 16px;
}
.footer-content li a{
  display: block;
  color: #F7F5EF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  text-decoration: underline;
}
/*registration popup styles section*/
.popup-overlay{
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: opacity 0.3s ease;
}
.popup-overlay.show{
  display: block;
  opacity: 1;
}
#registrationPopup{
  display: none;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding:  20px 40px 40px 40px;
  box-shadow: 0px 4px  10px rgba(0, 0, 0, 0,2);
  opacity: 0;
  transform: translate(-50%, -60%) scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#registrationPopup.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* End with normal scale */
}
.popup-container{
  position: relative;
}
.popup-logo img{
  display: block;
  height: 100%;
  max-height: 100px;
  width: auto;
}
.close-button{
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 26px;
  color: #7A6145;
  cursor: pointer;
}
.popup-header{
  display: flex;
  align-items: flex-start;
  padding: 0px 20px 0 0;
  border-bottom: 2px solid #00000030;
  gap: 30px;
}
.popup-header button{
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
.popup-header .active{
  font-weight: 600;
  border-bottom: 3px solid #7A6145;
}
.popup-content{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.popup-fields{
  display: flex;
  flex-direction: column;
  flex: 1.2;
}
.form{
  display: none;
  padding: 20px;
}
.form.active{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form.active input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.form button, .social-login button{
  border: none;
  background-color: #7A6145;
  color: #FFFFFF;
  font-weight: 500;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}
.social-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}
.social-login p{
  margin-bottom: 10px;
}
.discount-code {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.discount-code img{
  width: 100%;
  border-radius: 20px;
  max-height: 450px;
  object-fit: cover;
}
/*INDEX.HTML STYLES*/
.main-content{
  padding-top: 180px;
}
/*hero section styles*/
.hero{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url('../images/others/hero-image.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height:80vh; /*full viewport height*/
  color: #FFFFFF;
}
.hero-text{
  position: absolute;
  left: 5%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.hero-text h1{
  font-size: 56px;
  font-weight:bold;
  margin-bottom: 10px;
  max-width: 300px;
}
.hero-text p{
  font-size: 24px;
  margin-bottom: 50px;
}
.cta-button {
  padding: 14px 26px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 0 #00000012;
  border: none;
  transition: ease-out 0.4s;
  outline: none;
}
.cta-button:hover {
  box-shadow: inset 250px 0 0 0 #00000012;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #7a6145a5;
  color: #FFFFFF;
  border: none;
  font-size: 30px;
  padding: 30px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.prev-button {
  left: 0;
  display: none;
}
.next-button {
  right: 0;
  display: none;
}
.prev-button:hover, .next-button:hover {
  background: rgba(0, 0, 0, 0.8);
}